# Prepare data for modeling

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import janitor
from pathlib import Path
import re

In [3]:
data_dir = Path('../data')
save_dir = Path('../modeling_data')

## Select cell lines

In [5]:
sample_info = pd.read_csv(save_dir / 'sample_info.csv')

In [6]:
sample_info.head()

    depmap_id stripped_cell_line_name  ...     lineage            lineage_subtype
0  ACH-000001               NIHOVCAR3  ...       ovary       ovary_adenocarcinoma
1  ACH-000002                    HL60  ...       blood                        AML
2  ACH-000003                   CACO2  ...  colorectal  colorectal_adenocarcinoma
3  ACH-000004                     HEL  ...       blood                        AML
4  ACH-000005                 HEL9217  ...       blood                        AML

[5 rows x 10 columns]

In [23]:
def show_counts(df, col):
    return df[[col, 'depmap_id']] \
        .drop_duplicates() \
        .groupby(col) \
        .count() \
        .sort_values('depmap_id', ascending=False)

In [24]:
show_counts(sample_info, 'primary_disease')

                            depmap_id
primary_disease
Lung Cancer                       273
Leukemia                          132
Skin Cancer                       113
Lymphoma                          109
Brain Cancer                      107
Colon/Colorectal Cancer            83
Breast Cancer                      82
Head and Neck Cancer               76
Bone Cancer                        75
Ovarian Cancer                     74
Pancreatic Cancer                  59
Kidney Cancer                      56
Gastric Cancer                     49
Neuroblastoma                      46
Unknown                            45
Fibroblast                         43
Sarcoma                            42
Bladder Cancer                     39
Endometrial/Uterine Cancer         39
Esophageal Cancer                  38
Bile Duct Cancer                   36
Myeloma                            34
Liver Cancer                       27
Cervical Cancer                    22
Thyroid Cancer                     21
Rhabdoid                           20
Engineered                         14
Prostate Cancer                    13
Liposarcoma                        11
Eye Cancer                          9
Gallbladder Cancer                  7
Non-Cancerous                       5
Embryonal Cancer                    3
Teratoma                            1
Adrenal Cancer                      1

In [31]:
show_counts(
    sample_info[sample_info.primary_disease == 'Colon/Colorectal Cancer'],
    'subtype'
)

                                depmap_id
subtype
Adenocarcinoma                         73
Colorectal Carcinoma                    2
Adenocarcinoma, mucinous                1
Adenocarcinoma, papillotubular          1
Caecum Adenocarcinoma                   1
Colon Adenocarcinoma                    1
Colon Carcinoma                         1

In [32]:
show_counts(
    sample_info[sample_info.primary_disease == 'Colon/Colorectal Cancer'],
    'sex'
)

         depmap_id
sex
Male            42
Female          27
Unknown         14

In [33]:
show_counts(
    sample_info[sample_info.primary_disease == 'Colon/Colorectal Cancer'], 
    'primary_or_metastasis'
)

                       depmap_id
primary_or_metastasis
Primary                       43
Metastasis                    22